@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Press+Start+2P&display=swap');

body {
    background-image: url("/static/image/background-home.jpg");
    background-size: cover;
}

.topnav1 {
    display: flex;
    align-items: center;
    background-color: white;
    overflow: hidden;
    max-height: 6em;
    border-radius: 0 0 30px 30px;
    border: 5px solid #FD5E5E;
    border-top: 0;
}

.logout {
    display: flex;
    color: #0077C3;
    border: 6px solid #0077C3;
    border-radius: 10px;
    background-color: white;
    font-family: 'Koulen';
    font-size: 25px;
    padding: 0px 10px;
    margin: 15px;
    text-decoration: none;
    margin-left: auto;
}

.logo img {
    width: 7em;
}

.logout:hover {
    background-color: white;
    color: #FD5E5E;
    border-color: #FD5E5E;
}

.team {
    display: flex;
}

.team p {
    margin-left: 20px;
    font-size: 25px;
    font-family: 'Koulen';
    color: #444343;
}

.team p:hover {
    color: #FD5E5E;
}

h1 {
    margin: 20px;
    font-size: 20px;
}

#topnav2 {
    display: flex;
    background: #0077C3;
    max-height: 4em;
}

.topnav2-1 {
    display: flex;
    width: 60%;
    align-items: center;
    background-color: #E7DC9E;
    border-radius: 0px 30px 30px 0px;
    border: 0.4em solid #00478E;
    border-left: 0px;
    z-index: 1;
}

#icone_pokemon {
    width: 5em;
}

.topnav2-1 p {
    color: #F8F7E3;
    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.75);
    font-family: 'Press Start 2P';
    font-size: 25px;
}



#rond_blanc {
    border-radius: 10px;
    background-color: white;
    width: 1em;
    height: 2em;
    margin-left: 1em;
}

.topnav2-2 {
    display: flex;
    align-items: center;
    background-color: #6BC1CE;
    max-height: 6em;
    border-radius: 0px 30px 30px 0px;
    width: 5em;
    position: relative;
    right: 2em;
}

#rond_bleu {
    border-radius: 10px;
    background-color: #004A94;
    width: 1em;
    height: 2em;
    margin-left: 2.5em;
}

.topnav2-3 {
    display: flex;
    align-items: center;
}

.topnav2-3 img {
    height: 3em;
    margin-right: 0.5em;
    filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.50));
}

#ajouter_pokemon_team {
    color: #EBEBEB;
    background-color: #0077C3;
    font-family: 'Press Start 2P';
    font-size: 25px;
    padding: 8px 10px;
    text-decoration: none;
    border-radius: 10px;
    border: 5px solid #EBEBEB;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.50);
    margin-right: 0.5em;
}

#ajouter_pokemon_team:hover {
    background-color: white;
    color: #FD5E5E;
    border-color: #FD5E5E;
}

.div_gauche {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #676766;
    background: #CFABF0;
    width: 50%;
    height: 20em;
    overflow: hidden;
}

.div_gauche p{
    font-family: 'Press Start 2P';
    margin-left: auto;
}

#fond {
    text-align: center;
    background: #D9D9D9;
    height: 10em;
}

#image_pokemon {
    width: 10em;
}