<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pykedex - Home</title>
        <link rel="icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">

    </head>
    <body>
        <div class="topnav">
            <a class="logo" href="#logo">
                <img src="{% static 'image/logo.png' %}" alt="image">
            </a>   
            <a class="signin" href="/signin">SIGN IN</a>
            <a class="signup" href="/signup">SIGN UP</a>
        </div>
        
        <div class="pokemon">
            <form method="get" action="{% url 'home' %}">
                <p class="search">Recherchez un Pokemon</p>
                <input type="text" name="search" value="{{ request.GET.search }}">
                <input type="text" name="limit" value="{{ request.GET.limit }}">
                <input type="text" name="offset" value="{{ request.GET.offset }}">

                <button type="submit">Rechercher</button>
            </form>
        </div>
        <div class="card-container">

        {% for pokemon_data in pokemon_list %}
        <div class="card">
            <div class="image"><img src="{{ pokemon_data.sprites.front_default }}" alt=""></div>
            <div class="content">
                <h1>{{ pokemon_data.name }}</h1>
                <div class="button-container">
                    {% for type in pokemon_data.types %}
                        <span class="{% if forloop.first %}type1{% else %}type2{% endif %}">{{ type.type.name }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="content-lvl">
                <p>LVL. 1</p>
                <p>{{ pokemon_data.stats.0.base_stat }} HP</p>
            </div>
            <div class="progress-bar">
                <progress class="progress1" value="32" max="100"> 32% </progress>
            </div>
        </div>
    {% endfor %}
    </div>
    </body>
</html>

