<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/pokemon_view2.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pykedex - PokemonView</title>
        <link rel="icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">    </head>
    <body>
        <div class="topnav1">
            <a class="logo" href="/home">
                <img src="{% static 'image/logo.png' %}" alt="image">
            </a>
            <div class="team">
                <p>Team 1</p>
                <p>Team 2</p>
                <p>Team 3</p>
            </div>
            <a class="logout" href="/">LOGOUT</a>
        </div>

        <div id="topnav2">
            <div class="topnav2-1">
                <div id="topnav2-1-1">
                    <img id="icone_pokemon" src="{% static 'image/logo.png' %}" alt="image">
                    <p>APTITUDES</p>
                </div>
                <div id="rond_blanc" onclick="redirectToPokemonView1()"></div>
            </div>
            <div class="topnav2-2">
                <div id="rond_bleu" onclick="redirectToPokemonView2()"></div>
            </div>
            <div class="topnav2-3">
                <img id="image_previous" src="{% static 'image/previous.png' %}" alt="image" onclick="redirectToPokemonPrevious()">
                <a id="ajouter_pokemon_team" href="{% url 'team_view' %}">+TEAM</a>
                <img id="image_next" src="{% static 'image/next.png' %}" alt="image" onclick="redirectToPokemonNext()">
            </div>
        </div>

        <div id="div_central">
            <div class="div_gauche">
                <div id="div_gauche_interne">
                    <p id="niveau_pokemon">LVL.36</p>
                    <p id="nom_pokemon">GROTADMORV</p>
                </div>
                <div id="fond">
                    <img id="image_pokemon" src="{% static 'image/logo.png' %}" alt="image">
                </div>
            </div>
            <div id="div_droite">
                <div class="ligne">

                    <div class="not_data"><p>N°</p></div>
                    <p class="data">{{ pokemon_data.number }}</p>
                </div>
                <div class="ligne">
                    <div class="not_data"><p>Nom</p></div>
                    <p class="data">{{ pokemon_data.name }}</p>
                </div>
                <div class="ligne">
                    <div class="not_data"><p>Type</p></div>
                    <div class="data">
                        <p class="type">feu</p>
                    </div>

                </div>
                <div class="ligne">
                    <div class="not_data"><p>SP.DEF</p></div>
                    <p class="data">Aucun</p>
                </div>
                <div class="ligne">
                    <div class="not_data"><p>SPEED</p></div>
                    <p class="data">Aucun</p>
                </div>
            </div>
        </div>
        <div id="div_du_bas">
            <div class="not_data"><p>Cap.Spé</p></div>
            <div id="data_description">
                <p>Nature gentil.</p>
            </div>
        </div>

        <div id="loading">
            <img src="{% static 'image/poke_ball.png' %}" alt="Chargement en cours...">
        </div>

    <script>
        function redirectToPokemonView1() {
            window.location.href = "{% url 'pokemon_view' %}?number={{ pokemon_data.number }}";
          }

          function redirectToPokemonView2() {
            window.location.href = "{% url 'pokemon_view2' %}?number={{ pokemon_data.number }}";
          }

          function redirectToPokemonNext() {
            var number = {{ pokemon_data.number }} + 1;
            window.location.href = "{% url 'pokemon_view2' %}?number=" + number;
          }

          function redirectToPokemonPrevious() {
            var number = {{ pokemon_data.number }} - 1;
            window.location.href = "{% url 'pokemon_view2' %}?number=" + number;
          }
    </script>
    </body>
</html>