<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header> <div class="navbar"><img src="static/image/logo.png" alt="logo"><button class="back">BACK</button></div></header>
<body>
  
    <div class="card">
        <h2>SIGN UP</h2>
        <input type="text">
        <input type="text">
        <button class="signup">SIGN UP</button>
    </div>
</body>
</html>